<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Generic StoreFront</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navwrapper">

        <div class="navwrapper2" onclick="location.href = '@Url.Action("Main", "Home")'">
            <img style="width:60px; height:60px; margin-left:10%" src="~/Content/scientology-icon.png" />
            <div style="position:relative;">
                <img style="top:0; left:0; width:50%" src="~/Content/scientology-logo-dark_en.png" />
                <img style="transform:rotate(-20deg); height:25px; width:50px; position:absolute; top:0px; left:2px;" src="~/Content/totallynot.gif" />
            </div>
        </div>
        
        <nav class="topnav">
            <a style="margin-left:10%" href="#news">L Ron Cupboard</a>
            <a href="#news">What is Scientology?</a>
            <a href="#about">Join our <p style="text-decoration:line-through; display:inline;">Cult</p> Organization!</a>
            <a href="#contact">Churches</a>
            <a href="#about">Scientology Today</a>
            <a href="#about">FAQ</a>
        </nav>
    </div>

    @*<div class="navbar navbar-inverse navbar-fixed-top" style="width: auto">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Bungus", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Welcome", "Welcome", "Home")</li>
                        <li>@Html.ActionLink("Register", "About", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <div class="body-content">
        @RenderBody()
        <br />
        <br />
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - (Totally Not) Scientology</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/site.js")
    @RenderSection("scripts", required: false)
</body>
</html>
